.Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 3rem;
}

.TopSec {
  padding-top: 1.2rem;
}

.Title {
  font-size: var(--font-20);
  font-weight: bold;
  color: var(--primary-black);
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
}

.Title span:first-child {
  color: var(--primary-blue);
}

.BottomSec {
  display: flex;
  flex-direction: column;
  grid-gap: 0.7rem;
}

.Button {
  font-size: var(--font-16) !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
}
