.Wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  width: var(--max-width);
  margin: 0 auto;
  grid-gap: 5rem;
}

.LeftSec {
  width: 25rem;
}

.RightSec {
  width: 100%;
}
